/* For information on how to create your own theme, please refer to:
http://ionicframework.com/docs/theming/ */
@import "tailwindcss";
/* src/theme/variables.css */
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Archivo:wght@400;600;700&display=swap');

